body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.container .discord-button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #7289DA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container .discord-button:hover {
    background-color: #677BC4;
}

.container .discord-button:focus {
    outline: none;
}

.container .discord-button img {
    vertical-align: middle;
    margin-right: 10px;
}

